

body {
    background-color: #000000; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.card {
    background-color: #111; 
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}

    .card h3 {
        color: #ffffff;
        font-weight: bold;
    }

.form-label {
    color: #ffffff; 
    font-weight: 500;
}


.form-control {
    background-color: #000;
    border: 1px solid #444;
    color: #ffffff !important; 
    border-radius: 8px;
    font-weight: 500; 
    caret-color: #ffffff; 
}

    .form-control::placeholder {
        color: #777;
    }

    .form-control:focus {
        background-color: #000;
        border-color: #00b894;
        box-shadow: 0 0 0 0.2rem rgba(0, 184, 148, 0.25);
    }

.btn-success {
    background-color: #00d8a7;
    border-color: #00d8a7;
    font-weight: bold;
    border-radius: 8px;
}

    .btn-success:hover {
        background-color: #00b894;
        border-color: #00b894;
    }

.text-light a {
    color: #ccc;
    text-decoration: none;
}

    .text-light a:hover {
        color: #00d8a7;
        text-decoration: underline;
    }

@media (max-width: 500px) {
    .card {
        padding: 2rem 1rem;
    }
}
