<link href="/css/Register.css" rel="stylesheet" />

<div class="container d-flex justify-content-center align-items-center">
  <div class="card p-4" style="max-width: 400px; width: 100%;">
    <h3 class="text-center mb-4">Register</h3>
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name"/>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email"/>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password"/>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"/>
      </div>
      <div class="mb-3">
        <label for="PhoneNumber" class="form-label">Phone Number</label>
        <input type="number" class="form-control" id="PhoneNumber" placeholder="Confirm Phone Number"/>
      </div>
      <button type="submit" class="btn btn-success w-100">Register</button>
    </form>
    <div class="mt-3 text-center text-light">
      <a href="login.html">Already have an account? Login</a>
    </div>
  </div>
</div>



